BIND_HOST=0.0.0.0
MYSQL_PORT=3307
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_SERVER_VERSION=8.0.36-wordpress-mongodb
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=wordpress_bridge
WORDPRESS_TABLE_PREFIX=wp_
ALLOW_ANONYMOUS_AUTH=false
